<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
</head>
<body>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
    <!-- Форма добавления задачи -->
    <form method="POST">
        {% csrf_token %}
        {{ form.title }}
        <button type="submit">Добавить задачу</button>
        {% if form.title.errors %}
        <div style="color: red; margin-top: 5px; font-size: 0.9em;">
        {% for error in form.title.errors %}
            <p style="margin: 0;">⚠ {{ error }}</p>
        {% endfor %}
        </div>
        {% endif %}
    </form>

    <h1>Мои задачи</h1>

    <ul>
        {% for task in tasks %}

            <li style="margin-bottom: 15px; list-style: none;">
                <!-- Отображение текста в зависимости от статуса -->
                {% if task.status %}
                    <del style="color: gray;">{{ task.title }}</del>
                {% else %}
                    <strong>{{ task.title }}</strong>
                {% endif %}

                <small style="color: gray; margin-left: 10px;">
                    (создано: {{ task.created_date|date:"H:i" }})
                </small>

                <!-- Кнопка смены статуса (Toggle) -->
                <form action="{% url 'task_status' task.id %}" method="POST" style="display:inline; margin-left: 15px;">
                    {% csrf_token %}
                    <button type="submit" style="background-color: #e0e0e0; border: 1px solid #ccc; cursor: pointer; padding: 2px 8px;">
                        {% if task.status %} Вернуть {% else %} Готово {% endif %}
                    </button>
                </form>

                <!-- Кнопка удаления -->
                <form action="{% url 'delete_task' task.id %}" method="POST" style="display:inline; margin-left: 5px;">
                    {% csrf_token %}
                    <button type="submit" style="color: red; border: 1px solid red; background: none; cursor: pointer; padding: 2px 8px;">
                        Удалить
                    </button>
                </form>
                <a href="{% url 'edit_task' task.id %}" style="margin-left: 10px; text-decoration: none; color: blue;">
    🖉 Редактировать
        </a>
        {% empty %}
            </li>
            <li>Задач пока нет. Отдыхай!</li>

        {% endfor %}
    </ul>
</body>
</html>